*.pbo
ALTIS_LIFE/extDB-Build/Altis_Life.Altis/textures/Thumbs.db
Test_Performance/.metadata/.lock
Test_Performance/.metadata/.log
Test_Performance/.metadata/.mylyn/repositories.xml.zip
*.version
*.index
*.tree
*.resources
*.prefs
Test_Performance/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
Test_Performance/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Test_Performance/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Test_Performance/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
Test_Performance/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Test_Performance/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Test_Performance/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
Test_Performance/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
Test_Performance/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Test_Performance/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Test_Performance/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Test_Performance/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
Test_Performance/.metadata/version.ini